body{
    font-family: 'Roboto', sans-serif;
}
.clearfix:before,
.clearfix:after {
    display: table;
    content: " ";
}

.clearfix:after {
    clear: both;
}
.header_wrapper{
    position: relative;
    margin-bottom: 50px;
}
.header_wrapper > .overlay{
    position:absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(rgba(34, 49, 63, .7), rgba(238,110,115, 0.4)), url(https://images.unsplash.com/photo-1472466287482-c6c7fe50b716?dpr=1&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop=) no-repeat;
    background-size: cover;
    background-position: center;
    z-index: -5;
}
.logo{
    color: #fff;
    font-family: 'Boogaloo', cursive;
    letter-spacing: .1em;
    font-size: 30px;
    margin-top: 10px;
}
.main_menu_area{
    z-index: 100;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;

}

/*search area*/
.search-wrapper{
    margin: 0 5px;
    transition: margin 0.25s ease 0s;
    background-color: #ddd;
    margin-top: -8px;;
}

.search-wrapper input{
    box-sizing: border-box;
    display: block;
    font-size: 16px;
    font-weight: 300;
    height: 45px;
    margin: 0;
    padding: 0 45px 0 15px;
    width: 100%;
}
.search-wrapper input::placeholder {
    color: #222;
}
.search-wrapper input, .search-wrapper input:focus, .search-wrapper input:active, .search-wrapper.card  {
    border: 0 !important;
    box-shadow: none !important;
}

.search-wrapper button{
    cursor: pointer;
    position: absolute;
    right: 5px;
    top: 10px;
    background: none;
    border: none;
    box-shadow: none;
}

.main_nav{
    list-style: none;
    text-align: right;
}
.main_nav .profile_pic img{
    width: 37px;
    height: 37px;
}
.main_nav .modal-trigger {
    margin-left: 27px;
}
.main_nav > li {
    display: inline-block;

}
.main_nav  > li > a{
    display: inline-block;
    color: #fff;
    margin-left: 15px;
    padding: 5px 0px;
    position: relative;
    font-weight: 300;
    letter-spacing: .05em;

}
.main_nav  > li > a::before{
    position: absolute;
    content: "";
    max-width: 0%;
    min-height: 2px;
    left: 0;
    right: 0;
    bottom: 0;
    background: #F2784B;
    transition: all .3s;
}
.main_nav  > li:hover > a::before{
    max-width: 100%;
}
.main_nav  > li:nth-child(2) > a::before{
    max-width: 100%;
}

.featured_area{
    height: 70vh;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.featured_area .story{
    padding-bottom: 50px;
    z-index: 10;
}
.featured_area .story .title{
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 0;
}
.featured_area .story .subtitle{
    color: #fff;
    margin-bottom: 35px;
    display: block;
}
.featured_area .story > .btn{
    height: 50px;
    padding-top: 8px;
    background: #ee6e73;
}
.content{
    padding-right: 20px;
}
.story_block .card {
    margin-bottom: 45px;
}
.story_block .card .card-action {
    background-color: inherit;
    border-top: 1px solid rgba(160, 160, 160, 0.2);
    padding: 24px;
    position: relative;
}
.story_block .card-title.author {
    font-size: 18px;
    font-weight: 300;
}
.story_block .card-title.author > span {
    display: inline-block;
    font-family: "boogaloo",cursive;
    font-size: 20px;
    letter-spacing: 0.1em;
    margin-left: 6px;
}
.story_block .comments {
    margin-top: -10px;
    color: #4b4f56;
}
.story_block .comments > i {
    display: inline-block;
    margin-right: 5px;
    font-size: 17px;
}


.story_block ul.rating {
    margin: 0;
    padding: 0;
    margin-top: -9px;
    text-align: center;
}
.story_block ul.rating li {
    display: inline-block;
}

.story_block ul.rating li i {
    font-size: 14px;
    margin: 0;
    padding: 0;
    display: inline-block;
}
.like {
    margin-top: -10px;
    text-align: right;
    color: #4b4f56;
}
.like.liked {
    color: #4080ff;
}
.like span {
    display: inline-block;
}
.like .upvote > button {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    box-shadow: none;
    margin: 0;
    padding: 0;
}


.story_block .like span:last-child {
    /*margin-left: 0px;*/
}
.sidebar_block{
    margin-bottom: 35px;
}
.sidebar_block
h5.title {
    margin: 0;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: .05em;
    padding-bottom: 10px;
    font-weight: bold;
    position: relative;
}
.sidebar_block.categories ul {
    margin-left: 12px;
}

.sidebar_block.categories li {
    font-size: 13px;
    padding: 4px 0px;
}

.sidebar_block.categories li::before {
    content: "\f0da";
    font-family: fontAwesome;
    margin-left: -10px;
    margin-right: 5px

}

.tags a{
    display: inline-block;
    margin-right: 5px;
    text-decoration: underline;
}
.most_rated ul {
    margin: 0;
}

.most_rated ul li a {
    display: inline-block;
    margin-bottom: 10px;
    font-size: 13px;
}

.most_rated ul li {
    border-bottom: 1px solid #ddd;
    padding-top: 7px;
}

.most_rated ul li:first-child {
    padding-top: 0;
}

.most_rated ul li:last-child {
    border: 0;
}
.page-footer{
    padding-top: 0;
}


/*comment section*/
.post_an_answer {
    margin: 40px 0;
}
.single_answer_content .single_answer_text {
    align-self: center;
    display: flex;
}
.single_answer_content .single_answer_text .posttext p {
    margin: 0;
}
.single_answer_content .single_answer_text .userinfo {
    margin-right: 18px;
}
.single_answer_content .single_answer_text .userinfo img {
    border-radius: 50%;
    width: 42px;
}

.single_answer .reply .userinfo img {
    border-radius: 0;
    width: 25px !important;
}
.single_answer .reply .posttext {
    font-size: 0.9em;
}
.single_answer .reply .posttext h6 {
    font-size: 13px;
    font-style: italic;
    margin-top: 0;
}
.reply .question_info_bottom {
    font-size: 12px;
}
.question_info_bottom.center-align ul li {
    display: inline-block;
    padding: 0 9px;
}
.question_info_bottom li a i {
    display: inline-block;
    padding-right: 5px;
}
.question_info_bottom {
    border-bottom: 1px solid #ddd;
    margin-top: 10px;
    margin-bottom: 20px;
}
.replies {
    border-left: 2px solid #ddd;
    margin-left: 50px;
    margin-top: 40px;
    padding-left: 15px;
}
textarea.materialize-textarea {
    padding: 0.8rem 0 0;
    margin-bottom: 0;
}
.post_an_answer .row {
    margin-bottom: 0;
}



/*header login btn*/
.main_nav  > li > a.btn-login{
    padding: 1px 20px;
    font-size: 14px;
}
.main_nav  > li > a.btn-login:before, .main_nav  > li > a.btn:before {
    background: transparent;
}
.main_nav li a.dropdown-button.btn {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    box-shadow: none;
    margin-top: -10px;
    max-width: 37px;
    width: 100%;
}
.main_nav li a.dropdown-button.btn img {
    border-radius: 50%;
}
.main_nav #profile_dropdown{
    width: auto !important;
}
.main_nav .dropdown-content li {
    min-height: initial;
}
.dropdown-content li > a, .dropdown-content li > span{
    padding: 9px 14px;
    font-size: 14px;
}


.reg-link {
    display: inline-block;
    margin-right: 10px;
}


/*register*/
.register_block{
    margin-bottom: 40px;
}